{% extends 'core/base.html'%}
<!-- This is the child template and inherits from the base.html which is a parent template template-->

<!--
This title here is to be rendered in the base template title as well which also has a block title
the block title in itself receives nothing in it but since we engulfed our title here with the
block title, it's the one to be displayed in the block title of the parent or displayed while also
understanding that it's our index page that is triggered based on the current definition of our url config file
at the project level
-->
{% block title%}Welcome{% endblock %}

<!-- This heading here is to be renderd to the parent template base.html which also contains a block content-->
{% block content%}
<h1>The front page</h1>
{% endblock%}